.loading {
    height: 100vh;
    width: 100vw;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
}

.loading .spinner-border {
    width: 2rem;
    height: 2rem;
}