body {
    background-image: url('@assets/images/wallpaper.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50%;
    margin: 0 auto;
    width: 100vw;
    height: 100vh;
}