@use '@assets/scss/common/variables' as *;
@mixin marigin-padding-none {
	margin: 0;
	padding: 0;
}

@mixin media($size) {
	@media only screen and (min-width: $size) {
		@content;
	}
}

@mixin font-size($size, $line-height) {
	font-size: $size;
	line-height: $line-height;
}

@mixin font-family($font, $font-weight) {
	font-family: $font;
	font-weight: $font-weight;
}

@mixin font-xl {
	@include font-size(40px, 44px);
	@include font-family($Default-font, normal);
}

@mixin font-lg {
	@include font-size(36px, 40px);
	@include font-family($Default-font, normal);
}

@mixin font-md {
	@include font-size(32px, 36px);
	@include font-family($Default-font, normal);
}

@mixin font-sm {
	@include font-size(24px, 28px);
	@include font-family($Default-font, normal);
}

@mixin font-xs {
	@include font-size(20px, 24px);
	@include font-family($Default-font, normal);
}

@mixin font-xss {
	@include font-size(18px, 22px);
	@include font-family($Default-font, normal);
}

@mixin font-default {
	@include font-size(16px, 20px);
	@include font-family($Default-font, normal);
}

@mixin h1 {
	@include font-size(40px, 44px);
}

@mixin h2 {
	@include font-size(36px, 40px);
}

@mixin h3 {
	@include font-size(32px, 36px);
}

@mixin h4 {
	@include font-size(24px, 28px);
}

@mixin h5 {
	@include font-size(18px, 22px);
}

@mixin h6 {
	@include font-xss;
}

@mixin body-default-fonts {
	@include font-default;
}

@mixin flexbox() {
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
}

@mixin align-item-center {
	align-items: center;
}

@mixin justifyCenter {
	justify-content: center;
}

@mixin spaceBetween {
	justify-content: space-between;
}

@mixin flexCenter() {
	@include flexbox;
	@include align-item-center;
	@include justifyCenter;
}

@mixin gridbox() {
	display: -ms-grid;
	display: grid;
}

@mixin border-radius($radius) {
	-webkit-border-radius: $radius;
	-moz-border-radius: $radius;
	-o-border-radius: $radius;
	border-radius: $radius;
}

@mixin box($property) {
	box-sizing: $property;
	-moz-box-sizing: $property;
	-webkit-box-sizing: $property;
	-o-box-sizing: $property;
}

@mixin opacity($opacity) {
	-webkit-opacity: $opacity;
	-moz-opacity: $opacity;
	-o-opacity: $opacity;
	-ms-opacity: $opacity;
	opacity: $opacity;
}

@mixin arrow {
	margin: 25px;
	display: inline-block;
	height: 12px;
	position: relative;
	width: 12px;

	&::after {
		border-bottom-style: solid;
		border-bottom-width: 2px;
		border-right-style: solid;
		border-right-width: 2px;
		content: '';
		display: inline-block;
		height: 12px;
		left: 0;
		position: absolute;
		top: 0;
		width: 12px;
	}
}

@mixin text-clamp($line) {
	display: -webkit-box;
	-webkit-line-clamp: $line;
	-webkit-box-orient: vertical;
	overflow: hidden;
	width: 100%;
}

@mixin acuteTriangle($size, $color) {
	content: ' ';
	position: absolute;
	width: 0;
	height: 0;
	margin-left: -$size;
	top: $size;
	right: 5px;
	border-radius: 6px;
	border-style: solid;
	border-width: $size;
	border-color: $color $color $color $color;
	transform-origin: 0 0;
	-ms-transform-origin: 0 0;
	-webkit-transform-origin: 0 0;
	transform: rotate(-45deg) skew(-15deg, -15deg);
	-ms-transform: rotate(-45deg) skew(-15deg, -15deg);
	-webkit-transform: rotate(-45deg) skew(-15deg, -15deg);
}

@mixin proTabIconWrapper {
	font-size: 18px;
	margin-right: 2px;
	height: 24px;
	width: 24px;
	@include flexbox;
	@include justifyCenter;
	@include align-item-center;
}

@mixin proListIconWrapper($font-size, $height, $width) {
	border: 0.5px solid var(--header-border);
	font-size: $font-size;
	height: $height;
	width: $width;
	min-width: $width;
	@include flexbox;
	@include justifyCenter;
	@include align-item-center;
}

@mixin chatMessageContentIconWrapper {
	display: block;
	font-size: 32px;
	margin-right: 12px;
	border-radius: 50%;
	height: 32px;
	width: 32px;
	min-width: 32px;
	@include flexbox;
	@include justifyCenter;
	@include align-item-center;
	&:before {
		font-size: 24px;
	}
}

@mixin transition($seconds, $timing: ease) {
	-webkit-transition: all $seconds $timing;
	-moz-transition: all $seconds $timing;
	-ms-transition: all $seconds $timing;
	-o-transition: all $seconds $timing;
	transition: all $seconds $timing;
}

@mixin transitionElement($CSSProperty: all, $seconds, $timing: ease) {
	-webkit-transition: $CSSProperty $seconds $timing;
	-moz-transition: $CSSProperty $seconds $timing;
	-ms-transition: $CSSProperty $seconds $timing;
	-o-transition: $CSSProperty $seconds $timing;
	transition: $CSSProperty $seconds $timing;
}
