html[data-theme="light"] {
    --primary: #01B78D;
    --primary-light: #68CFAA;
    --primary-container: #0F6954;
    --primary-variant: #13856B;
    --primary-variant-hover:#0a6c56;
    --primary-outline-variant: #13856B;
    --on-primary: #073B2F;
    --on-primary-variant: #88D7BA;
    --secondary: #F6BD7B;
    --secondary-container: #855620;
    --secondary-variant: #DC8F35;
    --btn-secondary-outline-color: #ffffff;
    --background: #ffffff;
    --background-variant: #F9F9F9;
    --background-variant-2: #F2F2F2;
    --background-variant-3: #ffffff;
    --on-background: #1A1A1D;
    --surface: #CDCDD1;
    --surface-variant: #505057;
    --surface-variant-2: #67676F;
    --surface-variant-3: #67676F;
    --surface-variant-4: #505057;
    --surface-variant-5: #505057;
    --surface-variant-6: #0000007a;
    --surface-variant-7: #2E2E34;
    --surface-variant-8: #D1D5DB;
    --surface-variant-9: #3F3F46;
    --surface-variant-10: #CDCDD1;
    --surface-variant-11: #FFFFFF;
    --surface-variant-12: #71717A;
    --light-surface-variant: #CDCDD1;
    --on-surface: #E7E7EA;
    --outline: #CDCDD1;
    --outline-variant: #CDCDD1;
    --outline-variant-2: #E7E7EA;
    --error: #D10000;
    --error-container: #D10000;
    --error-container-2: #FFE9E9;
    --error-1: #D10000;
    --success: #2DAF17;
    --success-container: #0E5702;
    --gradient-black: #FFFFFF;
    --green-01: linear-gradient(85.46deg, #13856B 3.64%, #01B78D 96.29%);
    --white: #000000;
    --violet: #9747FF;
    --overlay: rgba(0, 0, 0, 0.7);
    --modal-overlay-color: #1A1A1D66;
    --permium: #F29D3A;
    --toast-success: #71fe9e;
    --black: #000000;
    --icon-chat-gpt: #ffffff;
    --icon-chat-gpt-dark: #1A1A1D;
    --header-border: #E7E7EA;
    --header-footer: #F9F9F9;
    --override-error: #FB8C8C;
    --subscription-override-white: #F9F9F9;
    --subscription-override-border: #2E2E34;
    --subscription-badge-color: #ED0006;
    --chat-inner-item-bg: #e6e6e6;
    --dropdown-box-bg: #ffffff;
    --dropdown-box-item: #e1e1e1;
    --gtp-action-dropdown-arrow: #A0A0A6;
    --claude: #FF7F50;
    --ai-image-generate-image-loader-bg: #e6e6e6;
    --loader-highlight-bg: #000000;
    --loader-line-bg: #f3f3f3;
    --btn-default-bg: #F9F9F9;
    --btn-default-bg-hover: #d1d1d1;
    --ai-image-pagination-btn: #505057;
    --sidebar-dropback: #00000052;
    --chat-history-dropdown-shadow: #0000003B;
    --ai-image-generate-item-active-bg: #ffffff28;
    --selected-subscription-bg-color: #0ea9821a;
    --toastify-color-success: #2DAF17;
    --toastify-color-error: #D10000;
    --price-popup-overlay-bg: #000000b3;
    --icon-job: #FB8C8C;
    --icon-study: #4796E3;
    --icon-job-background: #FFE5E5;
    --icon-study-background: #DBEDFF;
    --icon-travel-background: #FFE9D0;
    --icon-care-background: #E4FFF5;
    --icon-document: #DA5B5B;
    --upload-ask-bg-color: #D5F7EA;
    --toast-border-color: #E7E7EA;
    --deepseek-icon-color: #4D6BFE;
    --link-analyzer-color: #3F3F46;
    --input-border-color: #67676F33;
    --input-bg-color: #333;
    --input-icon-color: #3F3F46;
		--dropdown-tooltip-text: #ffffff;
		--dropdown-hover-bg: #E7E7EA;
		--initial-modal-sub-text: #60606A;
		--icon-attachement-color: #2E2E34;
		--text-box-border: #E7E7EA;
		--shortcut-box-bg-color: #F9F9F9;
		--shortcut-box-bg-color-hover: #f1f1f1;
		--shortcut-box-border: #EAEAEA;
		--history-three-dots: #c4c3c880;
		--copy-regenerate-bg-color: #E7E7EA;
		--advance-chat-history-bg-color: #f3f3f3;
		--dropdown-select-bg-color: #88D7BA;
		--icon-perplexity: #20808D;
}

html[data-theme="dark"] {
    --primary: #01B78D;
    --primary-light: #68CFAA;
    --primary-container: #0F6954;
    --primary-variant: #13856B;
    --primary-variant-hover:#13856B;
    --primary-outline-variant: transparent;
    --on-primary: #073B2F;
    --on-primary-variant: #88D7BA;
    --secondary: #F6BD7B;
    --secondary-container: #855620;
    --secondary-variant: #DC8F35;
    --btn-secondary-outline-color: #ffffff;
    --background: #000000;
    --background-variant: #1A1A1D;
    --background-variant-2: #1A1A1D;
    --background-variant-3: #1A1A1D;
    --on-background: #F9F9F9;
    --surface: #2E2E34;
    --surface-variant: #505057;
    --surface-variant-2: #67676F;
    --surface-variant-3: #67676F;
    --surface-variant-4: #A0A0A6;
    --surface-variant-5: #71717A;
    --surface-variant-7: #F9F9F9;
    --surface-variant-8: #A3A3A3;
    --surface-variant-9: #1A1A1D;
    --surface-variant-10: #1A1A1D;
    --surface-variant-11: #2E2E34;
    --surface-variant-12: #F2F2F2;
    --light-surface-variant: #CDCDD1;
    --on-surface: #E7E7EA;
    --outline: #2E2E34;
    --outline-variant: #67676F;
    --outline-variant-2: #686B73;
    --error: #FB8C8C;
    --error-container: #D10000;
    --error-container-2: transparent;
    --error-1: #D10000;
    --success: #2DAF17;
    --success-container: #0E5702;
    --gradient-black: #000000;
    --green-01: linear-gradient(85.46deg, #13856B 3.64%, #01B78D 96.29%);
    --white: #ffffff;
    --violet: #9747FF;
    --overlay: rgba(0, 0, 0, 0.7);
    --modal-overlay-color: #1A1A1D66;
    --permium: #F29D3A;
    --toast-success: #71fe9e;
    --icon-chat-gpt: #ffffff;
    --icon-chat-gpt-dark: #1A1A1D;
    --black: #000000;
    --header-footer: #1A1A1D;
    --header-border: #2E2E34;
    --override-error: #FB8C8C;
    --subscription-override-white: #F9F9F9;
    --subscription-override-border: #2E2E34;
    --subscription-badge-color: #ED0006;
    --chat-inner-item-bg: #505057;
    --dropdown-box-bg: #000000;
    --dropdown-box-item: #2e2e2e;
    --gtp-action-dropdown-arrow: #A0A0A6;
    --claude: #FF7F50;
    --ai-image-generate-image-loader-bg: #ffffff;
    --loader-highlight-bg: #67676F;
    --loader-line-bg: #f3f3f3;
    --btn-default-bg: transparent;
    --btn-default-bg-hover: #3f3f3f;
    --ai-image-pagination-btn: #A0A0A6;
    --sidebar-dropback: #00000052;
    --chat-history-dropdown-shadow: #0000003B;
    --ai-image-generate-item-active-bg: #ffffff28;
    --selected-subscription-bg-color: #0ea9821a;
    --toastify-color-success: #2DAF17;
    --toastify-color-error: #D10000;
    --price-popup-overlay-bg: #fffefe1f;
    --icon-job: #FB8C8C;
    --icon-study: #4796E3;
    --icon-job-background: #FFE5E5;
    --icon-study-background: #DBEDFF;
    --icon-travel-background: #FFE9D0;
    --icon-care-background: #E4FFF5;
    --icon-document: #DA5B5B;
    --upload-ask-bg-color: #AEFEDF;
    --toast-border-color: #67676F;
    --deepseek-icon-color: #4D6BFE;
    --link-analyzer-color: #3F3F46;
    --input-border-color: #67676F33;
    --input-bg-color: #ffffff;
    --input-icon-color: #ffffff;
		--dropdown-tooltip-text: #000000;
		--dropdown-hover-bg: #505057;
		--initial-modal-sub-text: #FFFFFF;
		--icon-attachement-color: #A0A0A6;
		--text-box-border: #67676F;
		--shortcut-box-bg-color: #2E2E34;
		--shortcut-box-bg-color-hover: #505057;
		--shortcut-box-border: #232329;
		--history-three-dots: #c4c3c880;
		--copy-regenerate-bg-color: #505057;
		--advance-chat-history-bg-color: #505057;
		--dropdown-select-bg-color: #0F6954;
		--icon-perplexity: #20808D;
}
